
<ion-list>
  <ion-list-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-list-header>
  <ion-menu-toggle auto-hide="false">
    <ion-item [routerLink]="['/home']">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle auto-hide="false">
    <ion-item [routerLink]="['/dog-list']">
      <ion-icon name="grid-outline" slot="start"></ion-icon>
      <ion-label>Liste des chiens</ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle auto-hide="false">
    <ion-item [routerLink]="['/add-dog']">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>Ajouter un chien</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
