
strong{
  line-height: 40px;
}

ion-header {
  --background: #333; 
  --color: #fff; 
}

ion-item {
  --background: transparent; 
  margin-bottom: 10px;
  color: #fff; 
}


ion-img {
  border-radius: 8px;
  width: 80%;
  height: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto 16px;
}

ion-label {
  text-align: center;
}

ion-button {
  margin-top: 16px;
  --background: #3880ff; 
  --color: #fff; 
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
}
